@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
    width: 100vw;
    height: 100vh;
    background-color: #01B87E;
    font-size: 1em;
}

header{
    background-color: #54C49F;
    padding: 10px;
    color: rgb(43, 41, 41);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.308);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header h1{
    flex: 0 0 200px;
}


nav{
    display: flex;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

nav a:hover{
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    transition-duration: .3s;
}

main{
    margin: auto;
    background-color: #fff;
    margin-top: 20px;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
}