@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(65, 196, 196);
    margin: 0px;
}
h1{
    text-align: center;
}
nav{
    background-color: lightgray;
    padding: 2px;
    box-shadow: 2px 2px 4px 2px #afabab;
    
}
nav > a{
    text-decoration: none;
    color: rgb(0, 0, 71);
    margin: 20px;
}
nav > a:hover{
    text-decoration: underline;
    color: blueviolet;
}
header{
    background-color: white;
    padding: 5px;
    padding: 10px;
    margin: 10px;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 1px;
}
abbr{
    text-decoration: none;
}
article{
    background-color: lightgray;
}
aside{
    background-color: #5e5e5e;
}
section{
    background: lightgray;
}
section#noticias{
    background-color: lightgray;
    border-radius: 10px;
    padding: 1px;
    box-shadow: 2px 2px 4px 2px #b8b1b1;

    
}
div#bola{
    background: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
}
